body {
    background-image: url("../img/bg.jpg");
    background-size:  cover;
    background-color: #cccccc;
}

.container{
	max-width: 960px;
	padding: 24px;
	margin-top:24px;
	margin-bottom:24px;
	background-color: #ffffff;
	border:1px solid silver;
}

.segment{
	max-width: 960px;
}

.title{
	margin-top: 42px;
	margin-bottom: 42px;
}

h4,p,li{
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
}

label{
	padding-right: 2px;
}

input,option,button{
	font-family: 'Source Sans Pro', sans-serif;
}

.btn{
	background-color: #1FC410;
	border-color: #1FC410;
	margin-top: 12px;
}

.btn.focus,.btn:focus,.btn:hover{
	background-color: #3FA34D;
	border-color: #3FA34D;
}

.crop{
	max-height:180px; 
	overflow:hidden;
}